.authLayout{
    width: 100%;
}

.mainContainer{
    width: 100%;
}

.childContainer{
    width: 100%;
    padding: 20px 0;
    height: calc(100vh - var(--header-height) - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}